body{
    margin: 0;
    text-align: center;
    background-color: #181D31;
}

h1{
    font-size: 80px;
    color: #CDFCF6;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0;
    margin-top: 0;
}

h2{
    color:#C58940;
    font-size: 30px;
}

h3{
    color: #c3ead1;
    font-size: 27px;
    position: relative;
    bottom: 5px;
    margin: 0;
}

p1{
    position: relative;
    bottom: 13px;
    color: whitesmoke;
}

p2{
    color: whitesmoke;
}

p3:hover{
    color:whitesmoke ;
}

hr{
    border-style: dotted none none;
    width:6%;
    border-width:8px;
    border-color: #A555EC;
    margin: 50px auto;
}






/*################################# class object #######################*/

.fast-c{
    background-color: #181D31;
    position: relative;
    padding-top: 100px;
    padding-bottom: 30px;
}

.profile{
    width: 40%;
    margin: 0 auto 0 auto;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
}

.profile{
    background-color: #181D31;
    padding-top: 1px;
    padding-bottom:20px;
}

.skill-row{
    width: 40%;
    margin: 50px auto;
    text-align: left;
    line-height:2;
}

.programmer{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.website-image{
    width: 22%; 
    float: right; 
    margin-left: 30px; 
}

.contact-me{
    width: 40%;
    margin: 0 auto 50px;
}

.gmail{
    background-color: #68B984;
    padding: 16px 120px;
    border: none;
    border-color: white;
    cursor: pointer;
    border-radius: 1cm;
}
.gmail:hover{
    background-color:#098b36;
}

.bottom-container{
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 0;
    text-align: center;
}

.tree{
    margin: 0;
    height: 60px;
}
